BasedOnStyle: Microsoft
ColumnLimit: 100
UseTab: Never
#IndentWidth: 4
#NamespaceIndentation: All
#AllowShortFunctionsOnASingleLine: Empty
AllowAllArgumentsOnNextLine: True
BinPackArguments: False
PointerAlignment: Left 
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
SeparateDefinitionBlocks: Always
InsertNewlineAtEOF : True
BreakAfterAttributes: Always
InsertBraces : True
BreakBeforeBraces: Allman
AlignConsecutiveDeclarations: Consecutive
